[Unit]
Description=Karaka's API server socket

[Socket]
ListenStream=/run/karaka/api.sock
SocketUser=web
SocketGroup=web

[Install]
WantedBy=sockets.target
