[Unit]
Description=Karaka's API server
After=network-online.target

[Service]
User=web
Group=web

Type=simple
WorkingDirectory=/opt/Karaka/karaka
RuntimeDirectory=karaka
RuntimeDirectoryPreserve=yes
ExecStart=/opt/Karaka/venv/bin/python3 runserver.py -s /run/karaka/api.sock
TimeoutStopSec=20
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
