[Unit]
Description=AlarmBot's Telegram bot
After=network-online.target karaka-api.socket

[Service]
User=web
Group=web

Type=simple
WorkingDirectory=/home/web/AlarmBot/alarmbot
ExecStart=/home/web/AlarmBot/venv/bin/python3 runbot.py
TimeoutStopSec=20
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
